In [1]:
import pandas as pd

In [8]:
country_code_file = "Resources/wikipedia-iso-country-codes.csv"
country_code_df = pd.read_csv(country_code_file)

In [2]:
url = 'https://developers.google.com/public-data/docs/canonical/countries_csv'

In [3]:
tables = pd.read_html(url)
tables

[    country   latitude  longitude                  name
 0        AD  42.546245   1.601554               Andorra
 1        AE  23.424076  53.847818  United Arab Emirates
 2        AF  33.939110  67.709953           Afghanistan
 3        AG  17.060816 -61.796428   Antigua and Barbuda
 4        AI  18.220554 -63.068615              Anguilla
 ..      ...        ...        ...                   ...
 240      YE  15.552727  48.516388                 Yemen
 241      YT -12.827500  45.166244               Mayotte
 242      ZA -30.559482  22.937506          South Africa
 243      ZM -13.133897  27.849332                Zambia
 244      ZW -19.015438  29.154857              Zimbabwe

 [245 rows x 4 columns]]

In [76]:
countries_df = tables[0]
countries_df

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [16]:
country_code_df = country_code_df.rename(columns={"English short name lower case":"Country"})
country_code_df

               Country Alpha-2 code Alpha-3 code  Numeric code     ISO 3166-2
0             Zimbabwe           ZW          ZWE           716  ISO 3166-2:ZW
1               Zambia           ZM          ZMB           894  ISO 3166-2:ZM
2                Yemen           YE          YEM           887  ISO 3166-2:YE
3       Western Sahara           EH          ESH           732  ISO 3166-2:EH
4    Wallis and Futuna           WF          WLF           876  ISO 3166-2:WF
..                 ...          ...          ...           ...            ...
241     American Samoa           AS          ASM            16  ISO 3166-2:AS
242            Algeria           DZ          DZA            12  ISO 3166-2:DZ
243            Albania           AL          ALB             8  ISO 3166-2:AL
244        Afghanistan           AF          AFG             4  ISO 3166-2:AF
245      Åland Islands           AX          ALA           248  ISO 3166-2:AX

[246 rows x 5 columns]

In [77]:
countries_df = countries_df.rename(columns={"name":"Country", "country":"Alpha-2 code"})
countries_df = countries_df.sort_values(by="Country")
countries_df

    Alpha-2 code   latitude   longitude            Country
2             AF  33.939110   67.709953        Afghanistan
5             AL  41.153332   20.168331            Albania
58            DZ  28.033886    1.659626            Algeria
11            AS -14.270972 -170.132217     American Samoa
0             AD  42.546245    1.601554            Andorra
..           ...        ...         ...                ...
237           WF -13.768752 -177.156097  Wallis and Futuna
62            EH  24.215527  -12.885834     Western Sahara
240           YE  15.552727   48.516388              Yemen
243           ZM -13.133897   27.849332             Zambia
244           ZW -19.015438   29.154857           Zimbabwe

[245 rows x 4 columns]

In [99]:
centroid_2_df = pd.merge(countries_df, country_code_df, on="Alpha-2 code", how="outer")
centroid_2_df = centroid_2_df.dropna()
centroid_2_df

,Alpha-2 code,latitude,longitude,Country_x,Country_y,Alpha-3 code,Numeric code,ISO 3166-2
0,AF,33.939110,67.709953,Afghanistan,Afghanistan,AFG,4.0,ISO 3166-2:AF
1,AL,41.153332,20.168331,Albania,Albania,ALB,8.0,ISO 3166-2:AL
2,DZ,28.033886,1.659626,Algeria,Algeria,DZA,12.0,ISO 3166-2:DZ
3,AS,-14.270972,-170.132217,American Samoa,American Samoa,ASM,16.0,ISO 3166-2:AS
4,AD,42.546245,1.601554,Andorra,Andorra,AND,20.0,ISO 3166-2:AD
...,...,...,...,...,...,...,...,...
240,WF,-13.768752,-177.156097,Wallis and Futuna,Wallis and Futuna,WLF,876.0,ISO 3166-2:WF
241,EH,24.215527,-12.885834,Western Sahara,Western Sahara,ESH,732.0,ISO 3166-2:EH
242,YE,15.552727,48.516388,Yemen,Yemen,YEM,887.0,ISO 3166-2:YE
243,ZM,-13.133897,27.849332,Zambia,Zambia,ZMB,894.0,ISO 3166-2:ZM
244,ZW,-19.015438,29.154857,Zimbabwe,Zimbabwe,ZWE,716.0,ISO 3166-2:ZW

In [95]:
centroid_2b_df = pd.merge(countries_df, 
                          country_code_df, 
                          left_on=["Alpha-2 code","Country"], 
                          right_on=["Alpha-2 code","Country"], 
                          how="outer")
centroid_2b_df = centroid_2b_df.sort_values(by='Alpha-2 code')
centroid_2b_df = centroid_2b_df.drop_duplicates(subset=['Alpha-2 code'])
centroid_2b_df

,Alpha-2 code,latitude,longitude,Country,Alpha-3 code,Numeric code,ISO 3166-2
4,AD,42.546245,1.601554,Andorra,AND,20.0,ISO 3166-2:AD
231,AE,23.424076,53.847818,United Arab Emirates,ARE,784.0,ISO 3166-2:AE
0,AF,33.939110,67.709953,Afghanistan,AFG,4.0,ISO 3166-2:AF
8,AG,17.060816,-61.796428,Antigua and Barbuda,ATG,28.0,ISO 3166-2:AG
6,AI,18.220554,-63.068615,Anguilla,AIA,660.0,ISO 3166-2:AI
...,...,...,...,...,...,...,...
139,YT,-12.827500,45.166244,Mayotte,MYT,175.0,ISO 3166-2:YT
200,ZA,-30.559482,22.937506,South Africa,ZAF,710.0,ISO 3166-2:ZA
243,ZM,-13.133897,27.849332,Zambia,ZMB,894.0,ISO 3166-2:ZM
244,ZW,-19.015438,29.154857,Zimbabwe,ZWE,716.0,ISO 3166-2:ZW
150,NaN,-22.957640,18.490410,Namibia,NAM,516.0,ISO 3166-2:NA

In [91]:
country_x_df = centroid_2_df.dropna(subset=["Country_x","Country_y"])
country_x_df = country_x_df[['Alpha-2 code','latitude','longitude','Country_x','Alpha-3 code','Numeric code','ISO 3166-2']]
country_x_df = country_x_df.rename(columns={'Country_x':'Country'})
country_x_df

,Alpha-2 code,latitude,longitude,Country,Alpha-3 code,Numeric code,ISO 3166-2
0,AF,33.939110,67.709953,Afghanistan,AFG,4.0,ISO 3166-2:AF
1,AL,41.153332,20.168331,Albania,ALB,8.0,ISO 3166-2:AL
2,DZ,28.033886,1.659626,Algeria,DZA,12.0,ISO 3166-2:DZ
3,AS,-14.270972,-170.132217,American Samoa,ASM,16.0,ISO 3166-2:AS
4,AD,42.546245,1.601554,Andorra,AND,20.0,ISO 3166-2:AD
...,...,...,...,...,...,...,...
240,WF,-13.768752,-177.156097,Wallis and Futuna,WLF,876.0,ISO 3166-2:WF
241,EH,24.215527,-12.885834,Western Sahara,ESH,732.0,ISO 3166-2:EH
242,YE,15.552727,48.516388,Yemen,YEM,887.0,ISO 3166-2:YE
243,ZM,-13.133897,27.849332,Zambia,ZMB,894.0,ISO 3166-2:ZM
244,ZW,-19.015438,29.154857,Zimbabwe,ZWE,716.0,ISO 3166-2:ZW

In [92]:
country_y_df = centroid_2_df.dropna(subset=["Country_y"])
country_y_df = country_y_df[['Alpha-2 code','latitude','longitude','Country_y','Alpha-3 code','Numeric code','ISO 3166-2']]
country_y_df = country_y_df.rename(columns={'Country_y':'Country'})
country_y_df

,Alpha-2 code,latitude,longitude,Country,Alpha-3 code,Numeric code,ISO 3166-2
0,AF,33.939110,67.709953,Afghanistan,AFG,4.0,ISO 3166-2:AF
1,AL,41.153332,20.168331,Albania,ALB,8.0,ISO 3166-2:AL
2,DZ,28.033886,1.659626,Algeria,DZA,12.0,ISO 3166-2:DZ
3,AS,-14.270972,-170.132217,American Samoa,ASM,16.0,ISO 3166-2:AS
4,AD,42.546245,1.601554,Andorra,AND,20.0,ISO 3166-2:AD
...,...,...,...,...,...,...,...
243,ZM,-13.133897,27.849332,Zambia,ZMB,894.0,ISO 3166-2:ZM
244,ZW,-19.015438,29.154857,Zimbabwe,ZWE,716.0,ISO 3166-2:ZW
245,MF,NaN,NaN,Saint Martin,MAF,663.0,ISO 3166-2:MF
246,BL,NaN,NaN,Saint Barthélemy,BLM,652.0,ISO 3166-2:BL
247,AX,NaN,NaN,Åland Islands,ALA,248.0,ISO 3166-2:AX

In [93]:
centroid_name_df = pd.merge(countries_df, country_code_df, on="Country", how="outer")
centroid_name_df = centroid_name_df.sort_values(by='Country')
centroid_name_df = centroid_name_df.drop_duplicates(subset=['Alpha-3 code'])
centroid_name_df = centroid_name_df.sort_values(by='Alpha-2 code_y')
centroid_name_df

,Alpha-2 code_x,latitude,longitude,Country,Alpha-2 code_y,Alpha-3 code,Numeric code,ISO 3166-2
4,AD,42.546245,1.601554,Andorra,AD,AND,20.0,ISO 3166-2:AD
231,AE,23.424076,53.847818,United Arab Emirates,AE,ARE,784.0,ISO 3166-2:AE
0,AF,33.939110,67.709953,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF
8,AG,17.060816,-61.796428,Antigua and Barbuda,AG,ATG,28.0,ISO 3166-2:AG
6,AI,18.220554,-63.068615,Anguilla,AI,AIA,660.0,ISO 3166-2:AI
...,...,...,...,...,...,...,...,...
200,ZA,-30.559482,22.937506,South Africa,ZA,ZAF,710.0,ISO 3166-2:ZA
243,ZM,-13.133897,27.849332,Zambia,ZM,ZMB,894.0,ISO 3166-2:ZM
244,ZW,-19.015438,29.154857,Zimbabwe,ZW,ZWE,716.0,ISO 3166-2:ZW
31,VG,18.420695,-64.639968,British Virgin Islands,NaN,NaN,NaN,NaN
150,NaN,-22.957640,18.490410,Namibia,NaN,NAM,516.0,ISO 3166-2:NA

In [45]:
centroid_2_df.loc[centroid_2_df['Country_x'].isnull(),'Country_x_is_NaN'] = 'Yes'
centroid_2_df.loc[centroid_2_df['Country_y'].isnull(),'Country_y_is_NaN'] = 'Yes'
centroid_2_df

,Alpha-2 code,latitude,longitude,Country_x,Country_y,Alpha-3 code,Numeric code,ISO 3166-2,Country_x_is_NaN,Country_y_is_NaN
0,AF,33.939110,67.709953,Afghanistan,Afghanistan,AFG,4.0,ISO 3166-2:AF,NaN,NaN
1,AL,41.153332,20.168331,Albania,Albania,ALB,8.0,ISO 3166-2:AL,NaN,NaN
2,DZ,28.033886,1.659626,Algeria,Algeria,DZA,12.0,ISO 3166-2:DZ,NaN,NaN
3,AS,-14.270972,-170.132217,American Samoa,American Samoa,ASM,16.0,ISO 3166-2:AS,NaN,NaN
4,AD,42.546245,1.601554,Andorra,Andorra,AND,20.0,ISO 3166-2:AD,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
243,ZM,-13.133897,27.849332,Zambia,Zambia,ZMB,894.0,ISO 3166-2:ZM,NaN,NaN
244,ZW,-19.015438,29.154857,Zimbabwe,Zimbabwe,ZWE,716.0,ISO 3166-2:ZW,NaN,NaN
245,MF,NaN,NaN,NaN,Saint Martin,MAF,663.0,ISO 3166-2:MF,Yes,NaN
246,BL,NaN,NaN,NaN,Saint Barthélemy,BLM,652.0,ISO 3166-2:BL,Yes,NaN
247,AX,NaN,NaN,NaN,Åland Islands,ALA,248.0,ISO 3166-2:AX,Yes,NaN

In [46]:
country_x_nan = centroid_2_df.set_index('Country_x_is_NaN')
country_x_nan = country_x_nan.loc['Yes']
country_x_nan

,Alpha-2 code,latitude,longitude,Country_x,Country_y,Alpha-3 code,Numeric code,ISO 3166-2,Country_y_is_NaN
Country_x_is_NaN,,,,,,,,,
Yes,MF,NaN,NaN,NaN,Saint Martin,MAF,663.0,ISO 3166-2:MF,NaN
Yes,BL,NaN,NaN,NaN,Saint Barthélemy,BLM,652.0,ISO 3166-2:BL,NaN
Yes,AX,NaN,NaN,NaN,Åland Islands,ALA,248.0,ISO 3166-2:AX,NaN

In [47]:
country_y_nan = centroid_2_df.set_index('Country_y_is_NaN')
country_y_nan = country_y_nan.loc['Yes']
country_y_nan

,Alpha-2 code,latitude,longitude,Country_x,Country_y,Alpha-3 code,Numeric code,ISO 3166-2,Country_x_is_NaN
Country_y_is_NaN,,,,,,,,,
Yes,GZ,31.354676,34.308825,Gaza Strip,NaN,NaN,NaN,NaN,NaN
Yes,XK,42.602636,20.902977,Kosovo,NaN,NaN,NaN,NaN,NaN

In [48]:
centroid_name_df.loc[centroid_name_df['Alpha-2 code_x'].isnull(),'Alpha-2 code_x'] = 'Yes'
centroid_name_df.loc[centroid_name_df['Alpha-2 code_y'].isnull(),'Alpha-2 code_y'] = 'Yes'
centroid_name_df

,Alpha-2 code_x,latitude,longitude,Country,Alpha-2 code_y,Alpha-3 code,Numeric code,ISO 3166-2
0,AF,33.939110,67.709953,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF
1,AL,41.153332,20.168331,Albania,AL,ALB,8.0,ISO 3166-2:AL
2,DZ,28.033886,1.659626,Algeria,DZ,DZA,12.0,ISO 3166-2:DZ
3,AS,-14.270972,-170.132217,American Samoa,AS,ASM,16.0,ISO 3166-2:AS
4,AD,42.546245,1.601554,Andorra,AD,AND,20.0,ISO 3166-2:AD
...,...,...,...,...,...,...,...,...
268,Yes,NaN,NaN,Congo (Brazzaville),CD,COD,180.0,ISO 3166-2:CD
269,Yes,NaN,NaN,Congo (Kinshasa),CG,COG,178.0,ISO 3166-2:CG
270,Yes,NaN,NaN,Cocos (Keeling) Islands,CC,CCK,166.0,ISO 3166-2:CC
271,Yes,NaN,NaN,Brunei Darussalam,BN,BRN,96.0,ISO 3166-2:BN
272,Yes,NaN,NaN,Åland Islands,AX,ALA,248.0,ISO 3166-2:AX

In [49]:
alpha_x_nan = centroid_name_df.set_index('Alpha-2 code_x')
alpha_x_nan = alpha_x_nan.loc['Yes']
alpha_x_nan

,latitude,longitude,Country,Alpha-2 code_y,Alpha-3 code,Numeric code,ISO 3166-2
Alpha-2 code_x,,,,,,,
Yes,-22.95764,18.49041,Namibia,Yes,NAM,516.0,ISO 3166-2:NA
Yes,NaN,NaN,"Virgin Islands, U.S.",VI,VIR,850.0,ISO 3166-2:VI
Yes,NaN,NaN,"Virgin Islands, British",VG,VGB,92.0,ISO 3166-2:VG
Yes,NaN,NaN,United States Minor Outlying Islands,UM,UMI,581.0,ISO 3166-2:UM
Yes,NaN,NaN,Turks and Caicos,TC,TCA,796.0,ISO 3166-2:TC
Yes,NaN,NaN,Syrian Arab Republic,SY,SYR,760.0,ISO 3166-2:SY
Yes,NaN,NaN,Sao Tome and Principe,ST,STP,678.0,ISO 3166-2:ST
Yes,NaN,NaN,Saint Martin,MF,MAF,663.0,ISO 3166-2:MF
Yes,NaN,NaN,"Saint Helena, Ascension and Tristan da Cunha",SH,SHN,654.0,ISO 3166-2:SH
Yes,NaN,NaN,Saint Barthélemy,BL,BLM,652.0,ISO 3166-2:BL
Yes,NaN,NaN,Reunion,RE,REU,638.0,ISO 3166-2:RE
Yes,NaN,NaN,Pitcairn,PN,PCN,612.0,ISO 3166-2:PN
Yes,NaN,NaN,"Palestinian Territory, Occupied",PS,PSE,275.0,ISO 3166-2:PS
Yes,NaN,NaN,Myanmar,MM,MMR,104.0,ISO 3166-2:MM
Yes,NaN,NaN,"Moldova, Republic of",MD,MDA,498.0,ISO 3166-2:MD
Yes,NaN,NaN,"Micronesia, Federated States of",FM,FSM,583.0,ISO 3166-2:FM
Yes,NaN,NaN,"Macedonia, the former Yugoslav Republic of",MK,MKD,807.0,ISO 3166-2:MK
Yes,NaN,NaN,Macao,MO,MAC,446.0,ISO 3166-2:MO
Yes,NaN,NaN,Libyan Arab Jamahiriya,LY,LBY,434.0,ISO 3166-2:LY
Yes,NaN,NaN,Lao People's Democratic Republic,LA,LAO,418.0,ISO 3166-2:LA
Yes,NaN,NaN,"Korea, Democratic People's Republic of",KP,PRK,408.0,ISO 3166-2:KP
Yes,NaN,NaN,"Hong Kong S.A.R., China",HK,HKG,344.0,ISO 3166-2:HK
Yes,NaN,NaN,Holy See (Vatican City State),VA,VAT,336.0,ISO 3166-2:VA
Yes,NaN,NaN,Falkland Islands (Malvinas),FK,FLK,238.0,ISO 3166-2:FK
Yes,NaN,NaN,Congo (Brazzaville),CD,COD,180.0,ISO 3166-2:CD
Yes,NaN,NaN,Congo (Kinshasa),CG,COG,178.0,ISO 3166-2:CG
Yes,NaN,NaN,Cocos (Keeling) Islands,CC,CCK,166.0,ISO 3166-2:CC
Yes,NaN,NaN,Brunei Darussalam,BN,BRN,96.0,ISO 3166-2:BN
Yes,NaN,NaN,Åland Islands,AX,ALA,248.0,ISO 3166-2:AX

In [50]:
alpha_y_nan = centroid_name_df.set_index('Alpha-2 code_y')
alpha_y_nan = alpha_y_nan.loc['Yes']
alpha_y_nan

,Alpha-2 code_x,latitude,longitude,Country,Alpha-3 code,Numeric code,ISO 3166-2
Alpha-2 code_y,,,,,,,
Yes,VG,18.420695,-64.639968,British Virgin Islands,NaN,NaN,NaN
Yes,BN,4.535277,114.727669,Brunei,NaN,NaN,NaN
Yes,CC,-12.164165,96.870956,Cocos [Keeling] Islands,NaN,NaN,NaN
Yes,CD,-4.038333,21.758664,Congo [DRC],NaN,NaN,NaN
Yes,CG,-0.228021,15.827659,Congo [Republic],NaN,NaN,NaN
Yes,FK,-51.796253,-59.523613,Falkland Islands [Islas Malvinas],NaN,NaN,NaN
Yes,GZ,31.354676,34.308825,Gaza Strip,NaN,NaN,NaN
Yes,HK,22.396428,114.109497,Hong Kong,NaN,NaN,NaN
Yes,XK,42.602636,20.902977,Kosovo,NaN,NaN,NaN
Yes,LA,19.856270,102.495496,Laos,NaN,NaN,NaN
Yes,LY,26.335100,17.228331,Libya,NaN,NaN,NaN
Yes,MO,22.198745,113.543873,Macau,NaN,NaN,NaN
Yes,MK,41.608635,21.745275,Macedonia [FYROM],NaN,NaN,NaN
Yes,FM,7.425554,150.550812,Micronesia,NaN,NaN,NaN
Yes,MD,47.411631,28.369885,Moldova,NaN,NaN,NaN
Yes,MM,21.913965,95.956223,Myanmar [Burma],NaN,NaN,NaN
Yes,Yes,-22.957640,18.490410,Namibia,NAM,516.0,ISO 3166-2:NA
Yes,KP,40.339852,127.510093,North Korea,NaN,NaN,NaN
Yes,PS,31.952162,35.233154,Palestinian Territories,NaN,NaN,NaN
Yes,PN,-24.703615,-127.439308,Pitcairn Islands,NaN,NaN,NaN
Yes,RE,-21.115141,55.536384,Réunion,NaN,NaN,NaN
Yes,SH,-24.143474,-10.030696,Saint Helena,NaN,NaN,NaN
Yes,SY,34.802075,38.996815,Syria,NaN,NaN,NaN
Yes,ST,0.186360,6.613081,São Tomé and Príncipe,NaN,NaN,NaN
Yes,TC,21.694025,-71.797928,Turks and Caicos Islands,NaN,NaN,NaN
Yes,UM,NaN,NaN,U.S. Minor Outlying Islands,NaN,NaN,NaN
Yes,VI,18.335765,-64.896335,U.S. Virgin Islands,NaN,NaN,NaN
Yes,VA,41.902916,12.453389,Vatican City,NaN,NaN,NaN

In [51]:
centroid_country_df = centroid_2_df[['Alpha-2 code','latitude','longitude','Country_x','Country_y','Alpha-3 code','Numeric code','ISO 3166-2']]

In [83]:
centroid_country_df=pd.merge(country_x_df, country_y_df, how='outer', on='Country')
centroid_country_df

,Alpha-2 code_x,latitude_x,longitude_x,Country,Alpha-3 code_x,Numeric code_x,ISO 3166-2_x,Alpha-2 code_y,latitude_y,longitude_y,Alpha-3 code_y,Numeric code_y,ISO 3166-2_y
0,AF,33.939110,67.709953,Afghanistan,AFG,4.0,ISO 3166-2:AF,AF,33.939110,67.709953,AFG,4.0,ISO 3166-2:AF
1,AL,41.153332,20.168331,Albania,ALB,8.0,ISO 3166-2:AL,AL,41.153332,20.168331,ALB,8.0,ISO 3166-2:AL
2,DZ,28.033886,1.659626,Algeria,DZA,12.0,ISO 3166-2:DZ,DZ,28.033886,1.659626,DZA,12.0,ISO 3166-2:DZ
3,AS,-14.270972,-170.132217,American Samoa,ASM,16.0,ISO 3166-2:AS,AS,-14.270972,-170.132217,ASM,16.0,ISO 3166-2:AS
4,AD,42.546245,1.601554,Andorra,AND,20.0,ISO 3166-2:AD,AD,42.546245,1.601554,AND,20.0,ISO 3166-2:AD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,NaN,NaN,"Virgin Islands, U.S.",NaN,NaN,NaN,VI,18.335765,-64.896335,VIR,850.0,ISO 3166-2:VI
267,NaN,NaN,NaN,Holy See (Vatican City State),NaN,NaN,NaN,VA,41.902916,12.453389,VAT,336.0,ISO 3166-2:VA
268,NaN,NaN,NaN,Saint Martin,NaN,NaN,NaN,MF,NaN,NaN,MAF,663.0,ISO 3166-2:MF
269,NaN,NaN,NaN,Saint Barthélemy,NaN,NaN,NaN,BL,NaN,NaN,BLM,652.0,ISO 3166-2:BL
270,NaN,NaN,NaN,Åland Islands,NaN,NaN,NaN,AX,NaN,NaN,ALA,248.0,ISO 3166-2:AX

In [98]:
centroid_2_df.to_csv('centroid_country.csv',index=False)